<!DOCTYPE html>
<html ng-app="store">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app01.js"></script>
   
   
    <title>Document</title>
</head>
<body ng-controller="storeController as sc">

    <div ng-repeat="product in sc.products">
        <h1> {{product.name}}</h1>
        
        <img src="{{product.images[0]}}" style="height:100px;width:100px;">
        
        <h2> {{product.price | currency}}</h2>

        <section ng-init="tab==1">
            <ul class="nav nav-pills">
                <li ng-class="{active:tab===1}">
                    <a href ng-click="tab=1">Description</a>
                </li>

                <li ng-class="{active:tab===2}">
                        <a href ng-click="tab=2">Specification</a>
                    </li>

                    
                <li ng-class="{active:tab===3}">
                        <a href ng-click="tab=3">Reviews</a>
                    </li>
            </ul>

            <div class="panel" ng-show="tab==1">
                <h4>Description</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="panel" ng-show="tab==2">
                    <h4>Specification</h4>
                   <blockquote>Not Yet</blockquote>
                </div>
            <div class="panel" ng-show="tab==3">
                    <h4>Reviews</h4>
                   
                       <blockquote ng-repeat="review in product.reviews">
                       <b>Stars {{review.stars}}</b>
                       {{review.body}}
                       <cite>by {{review.author}}</cite>
                       </blockquote>

                       <form name="reviewForm"
                       ng-controller="ReviewController as reviewCtrl"
                       ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                          
                           <blockquote>
                               <b> Stars {{review.stars}}</b>
                               {{review.body}}
                               <cite>by {{review.author}}</cite>
                           </blockquote>
                           <select ng-model="review.stars">
                               <option value="1">1 Star</option>
                               <option value="2">2 Star</option>
                               <option value="3">3 Star</option>
                               <option value="4">4 Star</option>
                               <option value="5">5 Star</option>
                            </select>

                            <textarea ng-model="reviewCtrl.review.body" required></textarea>
                            <label>by</label>
                            <input type="email" ng-model="reviewCtrl.review.author" class="ng-pristine ng-invalid"/>
                            <div> Review form is {{reviewForm.$valid}}</div>
                            <input type="submit" value="Submit"/>
                        </form>
                       

                   </div>
            </div>
                        


        </section>

        <p> {{product.description}}</p>
        <button ng-show="product.canPurchase">Add to Cart </button>

    </div>
</body>
</html>